*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-size: 1vw;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: $font-family-secondary;
  font-size: 1vw;
  font-weight: $font-weight-xs;
  line-height: $line-height-even;
  color: $color-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-row-gap: 0;
}

.row {
  position: relative;
  grid-template-rows: auto;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-columns: 1fr;
  grid-row-gap: 0;
  grid-column-gap: $column-gap;
  height: 100%;
}
